.MM {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.M {
    width: 400px;
    height: 200px;
    background-color: #dddddd;
    border-radius: 30px 30px 30px 30px;
    font-family: Open sans;
    position: relative;
    left: 400px;
    top: 130px;
}

.M:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#Titles {
    position: relative;
    top: -130px;
    left: 100px;
    font-weight: lighter;
    font-family: Open sans;
    font-size: 20px;
}

body {
    font-family: Open sans;
}