.fmockups1 {
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 200px;
    row-gap: 20px;
    position: relative;
    left: 400px;
    top: 50px;
}

.qst {
    width: 270px;
    height: 80px;
    background-color: #ffee32c5;
    opacity: 70%;
    border-radius: 20px 20px 20px 20px;
}

.qst {
    width: 270px;
    height: 80px;
    background-color: #ffee32c5;
    opacity: 70%;
    border-radius: 20px 20px 20px 20px;
}

.qst {
    width: 270px;
    height: 50px;
    background-color: #ffee32c5;

    border-radius: 20px 20px 20px 20px;
}

.flexi1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flexi2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flexi3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flexi4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answer {
    width: 380px;
    height: 150px;
    background-color: #cbcfd1b9;

    border-radius: 20px 20px 20px 20px;
    color: #000000;
}

.answer h4 {
    font-weight: lighter;
    font-family: Open sans;
    font-size: 15px;
    position: center;
    text-align: center;
    top: -10px;
    left: 0px
}

.qst h4 {
    font-weight: lighter;
    font-family: Open sans;
    font-size: 15px;
    position: relative;
    text-align: center;
    top: -10px;
    width: 250px;
    left: 0px
}