#iconre {
    position: relative;
    left: 400px;
    top: 40px;
}

.inputss {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 850px;
    margin-top: -370px;
    gap: 50px;
    background-color: #ffffff;
}

.inputsrec {
    border-radius: 30px 30px 30px 30px;
    color: #596475b9;
    box-shadow: 5px 10px 10px #596475b9;
    background-color: #ffffff;
    height: 50px;
}

textarea {
    border-radius: 30px 30px 30px 30px;
    color: #596475b9;
    box-shadow: 5px 10px 10px #596475b9;
    background-color: #ffffff;
    height: 200px;
    text-align: left;
    font-size: 20px;
    font-family: Open sans;
}

.boutton {
    font-family: Open sans;
    background: #ffee32;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    position: relative;
    left: 150px;
}

.boutton::after {
    content: ' \00BB';
    font-family: "Open sans";
    position: absolute;
    opacity: 0;
}

.boutton:hover {
    background: #2b2bff;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    padding-right: 20px;
}

.boutton:hover::after {
    opacity: 1;
    transition: all 0.5s;
}